.admin-usuarios {
    text-align: center;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
        .header {
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            text-align: center;
        }
    }
}