.flexContainer-pelea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .personaje {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .panelCentral {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .enemigo {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            transform: scaleX(-1);
        }
    }

}