.flexContainer {
    display: flex;
    flex-direction: row;
    gap: 1%;
    text-align: center;

    .margin-top {
        margin-top: 1rem;
    }

    .campo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        label {
            margin-bottom: 0.25rem;
        }
    }

    .imgContainer {
        width: 33%;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .statContainer {
        width: 66%;
    }
}

@media (max-width: 768px) {
    .flexContainer {
        flex-direction: column;

        .imgContainer,
        .statContainer {
            width: 100%;
        }
    }
}