.activo {
  color: red;
}

.normal {
  color: white;
}

ul.nav {
  list-style: none;
}

.flexContainer-navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.logout-btn {
  margin-left: auto;
  list-style: none;
}