.activo {
  background-color: green;
  color: red;
}

.normal {
  background-color: white;
  color: black;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.logout-btn {
  margin-left: auto;
  list-style: none;
}
